@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color:#39395f;
}
td{
    background-color: #a9c25d;
    width:100px;
    height: 100px;
    

}
h1{
    text-align:center;
    font-family:Montserrat;
    font-weight:bold;
    font-size: 42px;
    color: navajowhite;
}
table{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:150px;
    border-spacing: 6px;
    
}
